.section1 {
    padding-top: 200px;
    display: flex;
    width: 100%;
    padding-right: 150px;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,var(--c2) 68% 70%,#0000 72%;
    background:
      radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s),
      radial-gradient(var(--_g) 0    75%,var(--_c)) var(--s) var(--s)/var(--_s),
      radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s),
      radial-gradient(var(--_g) 0    75%,var(--_c)) 0 0/var(--_s),
      repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%) 0 0/var(--_s),
      radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s)
      var(--c1);
      min-height: 100vh;
}

.intro-paragraph,
.intro-header {
  background-color: transparent;
}
.girl-img-container {
    width: 55%;
    background-color: transparent;
}

.girlIMG {
    width: 50%;
    background-color: transparent;
}
.intro-text {
    width: 45%;
    text-align: left;
    letter-spacing: 3px;
    background-color: transparent;
}

.intro-text h1 {
    font-size: 5rem;
    text-shadow: 2px 1px 3px rgba(238, 49, 255, 0.6);
    background-color: transparent;
}

.intro-text .fancy-text {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    text-shadow: 2px 1px 3px #ee31ff99;
}

.intro-text h2 {
    font-size: 3rem;
}

.intro-text p {
    font-size: 1.25rem;
    letter-spacing: 3px;
    line-height: 32px;
    background-color: transparent;
    margin-bottom: 0;
}

.cv-button,
.contact-button {
    width: 180px;
    padding: 20px 30px;
    color: white;
    border: none;
    background-color: #d32be2;
    font-size: 1rem;
    border-radius: 10px;
  }

  .intro-text a,
  .intro-text Link {
    background-color: transparent;
  }
  
  .cv-button:hover, 
  .contact-button:hover {
    background-color: #c128cf;
    transition-duration: 0.6s;
    cursor: pointer;
  }

  .cv-button {
    margin-right: 30px;
  }

  @media screen and (max-width: 1024px) {
    .section1 {
      flex-direction: column;
      align-items: center;
      padding-top: 150px;
      padding-right: 0;
      text-align: center;
    }
  
    .girl-img-container,
    .intro-text {
      width: 100%;
      border-radius: 50%;
    }

    .intro-text {
      width: 100%;
      border-radius: 50%;
      padding: 0 25px;
      text-align: center;
      display: inline-block; /* or block if you want full-width */
      margin: 0;
      padding: 20px;
      line-height: 0; /* Helps eliminate vertical gaps in some cases */
    }
  
    .girlIMG {
      width: 60%;
      max-width: 300px;
      border-radius: 50%;
    }
  
    .intro-text h1 {
      font-size: 2rem;
      margin-bottom: 50px;
    }
  
    .intro-text .fancy-text {
      font-size: 3rem;
    }
  
    .intro-text p {
      font-size: 1rem;
      line-height: 28px;
      margin-bottom: 20px;
    }
  
    .cv-button,
    .contact-button {
      width: 160px;
      padding: 15px 18px;
      font-size: 0.9rem;
    }
  
    .cv-button {
      margin-right: 20px;
      margin-bottom: 10px;
    }

    .intro-paragraph a {
      margin: 0;
      padding: 0;
    }
  }

  
  