.sub-container {
    display: flex;   
    padding-top: 180px;
}

.message-404 {
    width: 50%;
    text-align: left;
    align-items: left;
    padding-left: 70px;
}
.message-404 h1 {
    font-size: 8rem;
    margin-bottom: 30px;
    margin-top: 40px;
}

.message-404 h2 {
    font-size: 3rem;
    margin-left: 15px;
    margin-bottom: 100px;
}
.graphic-container {
    width: 50%;
    padding-left: 100px;
    
}

.graphic-container img {
    width: 100%;   
}

.home-button {
    width: 180px;
    padding: 20px 30px 20px 30px;
    color: white;
    border: none;
    background-color: #8b68c8;
    font-size: 1rem;
    border-radius: 10px;
    margin-left: 15px;
    display: block;
    margin-top: 30px;
  }
  
  .home-button:hover {
    background-color: #7e4cd399;
    transition-duration: 0.6s;
    cursor: pointer;
  }